.box {
  background: $white;
  margin: 0 10px;
  color: $black;

  align-self: stretch;
  flex-basis: 100%;
  &__content {
    padding: 36px 28px;
  }
  &__description {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: $gray;
    padding-top: 12px;
    margin: 0;
  }
  &__heading {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  &__wplogo {
    padding-top: 12px;
    display: block;
    margin: auto;
  }
}

.section {
  &--dark {
    background: $blue;
    color: $white;
    &::after {
      content: "";
      display: block;
      position: relative;
      top: 16px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #ff3859;
      margin: 10px auto 0;
      box-shadow: 0px 4px 4px rgba(255, 56, 89, 0.2);
    }
  }
  &__description {
    margin: 0;
    padding: 5px 0 0 0;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
  }
  &__heading {
    margin: 0;
    padding: 49px 0 0 0;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
  }
  &__subheading {
    margin: 0;
    padding: 36px 0 24px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
}

.slider {
  padding: 40px 0 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__button {
    height: 48px;
    width: 48px;
    padding: 0;
    border: 0;
    &--next {
      padding-left: 12px;
      background: url("../assets/img/next.svg") center center no-repeat;
      &:hover {
        background: url("../assets/img/next_hover.svg") center center no-repeat;
      }
      &:active {
        outline: none;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }
    &--prev {
      padding-right: 12px;
      background: url("../assets/img/prev.svg") center center no-repeat;
      &:hover {
        background: url("../assets/img/prev_hover.svg") center center no-repeat;
      }
      &:active {
        outline: none;
      }
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}
.wrapper {
  max-width: 1056px;
  margin: auto;
  display: flex;
  align-self: stretch;
  justify-content: space-between;
}
